@import "mixins.scss";
@import "normalize.scss";
@import "compass";

/**
 * Basic Application Styles
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #333; text-decoration: none; }
a:visited { color: #333; }
a:hover { color: #333; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

ul { padding: 0;  margin: 0; list-style-type: none; }
td, th { text-align: left; padding: 5px 10px; vertical-align: top; }
caption { text-align: left; font-size: 16px; font-weight: bold; color: #666; }

/**
 * Layout
 */

#main {
  display: block;
  float: left;
  margin: 15px 30px 0;
  @include transition(padding .5s ease-out);

  &.loading { opacity: .1; min-height: 1000px; }
  &.large {  }
}

/*.slide-left { background: #bcd; }*/

#top {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #ccc;
  @include background-image(linear-gradient(#444, #111));
  @include clearfix;

  h1 {
    float: left;
    width: 73px;
    height: 30px;
    margin: 4px 40px 0 22px;
    text-indent: -9999px;
    background: url('/images/logo.png') no-repeat;
  }
  a {
    color: #ccc;
  }
  #navigation {
    float: left;
  }
  #navigation li {
    float: left;
  }
  #navigation .current {
    background: black;
  }
  #navigation li a {
    display: block;
    padding: 0 15px;

    &:hover { color: #FFF; }
  }
  .profile {
    margin: 0 160px 0 0;
    float: right;
  }
  .profile img {
    vertical-align: middle;
    margin-top: -4px;
  }
  .profile .name {
    margin-left: 7px;
    padding-right: 15px;
    background: url('/images/layout/top-arrow-down.png') no-repeat 6px right;
  }
  .profile ul {
    display: none;
    position: absolute;
    top: 40px;
    right: 160px;
    background-color: #444;
    z-index: 100;
    @include border-bottom-radius(4px);
    @include box-shadow(2px 2px 10px #888);
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul a {
    display: block;
    padding: 5px 33px;
    line-height: 24px;
  }
  .profile ul a:hover {
    background-color: #555;
  }
  .profile ul li:last-child a:hover {
    @include border-bottom-radius(4px);
  }
}

#left {
  width: 400px;
  background: #fff;
  float: left;
  @include single-box-shadow(rgba(black, 0.5));

  #search {
    height: 90px;
    padding: 30px 20px 0 20px;
    background-color: #e5e8ee;
  }
  #search input[type=text] {
    height: 28px;
    width: 97%;
    padding: 0 0 0 10px;
    font-size: 10pt;
    color: #666;
    border: 1px solid #ddd;
    background: #fff url('/images/icons/search.png') no-repeat 335px 8px;
    @include border-radius(4px);
  }
  .tabs {
    margin-top: -29px;
  }
  .tabs li:first-child a {
    margin-left: 20px;
  }

  #repositories {
    li {
      position: relative;
      padding: 15px 25px 15px 45px;
      border-bottom: 1px solid #ccc;
      font-size: 16px;
      background-position: 24px 16px;
      background-repeat: no-repeat;
      border-top: 1px solid #fff;
    }
    li:nth-child(odd) {
      background: #fff;
      .indicator { background: #fff; }
    }
    li:nth-child(even) {
      background: #f6f6f6;
      .indicator { background: #f6f6f6; }
    }
    li.green a {
      color: green;
    }
    li.red a {
      color: #c00;
    }
    li .build {
      float: right;
    }
    li .summary {
      margin: 5px 0 0 0;
      font-size: 13px;
      color: #666;
    }
    li .indicator {
      display: none;
    }
    li.selected .indicator {
      display: block;
      position: absolute;
      top: 22px;
      right: -12px;
      width: 23px;
      height: 23px;
      z-index: -1;
      @include rotate(45deg);
      @include single-box-shadow(rgba(black, 0.5));
    }
  }
}

#left #repositories li,
#main .summary .number a,
#main .builds td.number a {
  background-image: url('/images/icons/status.yellow.png');
  padding-left: 20px;
  background-repeat: no-repeat;
}
#left #repositories li.green,
#main .summary.green .number a,
#main .builds .build.green td.number a {
  background-image: url('/images/icons/status.green.png');
  color: green;
  padding-left: 20px;
  background-repeat: no-repeat;
}
#left #repositories li.red,
#main .summary.red .number a,
#main .builds .build.red td.number a {
  background-image: url('/images/icons/status.red.png');
  color: #c00;
  padding-left: 20px;
  background-repeat: no-repeat;
}

#main {
  h3 {
    margin: 15px 0 0 0;
    font-size: 24px;
  }
  a {
    color: #666;
    text-decoration: underline;
  }
  .github-stats {
    float: right;
    a {
      height: 16px;
      display: block;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      margin-left: 10px;
      padding-left: 20px;
      background: no-repeat 0px -1px;
      color: #999;
      &.watchers {
        background-image: url('/images/icons/github-watchers.png');
      }
      &.forks {
        background-image: url('/images/icons/github-forks.png');
      }
    }
  }
  .github-stats > * {
    float: left;
  }
  .github-admin {
    display: none;
    position: absolute;
    top: 0;
    right: 50px;
    width: 0px;
    height: 16px;
    padding-right: 20px;
    font-size: 11px;
    text-decoration: none;
    text-align: right;
    color: #999;
    background: url('/images/icons/github-admin.png') no-repeat right 1px;
    text-indent: -9999px;
    overflow: hidden;
    &:hover {
      display: block;
      width: 100px;
    }
  }

  .tabs {
    margin-top: 35px;
  }
  .tabs li {
    white-space: nowrap;
  }
  .tab {
    padding-left: 12px;
  }
  #tab_parent {
    display: none;
  }
  #tab_build:not(.active) {
    display: none;
  }
  .tools {
    display: block;
    float: right;
    width: 39px;
    height: 21px;
    margin-top: 3px;
    text-indent: -99px;
    overflow: hidden;
    background: url(/images/icons/tools-button.png) no-repeat;
    cursor: pointer;
  }
  dl {
    color: #666;
    margin-bottom: 30px;
  }
  .profile-avatar {
    float: left;
  }
  .profile {
    margin: 20px 0 30px 60px;
    z-index:100;
  }
  .profile dt {
    display: block;
    float: left;
    width: 50px;
  }
  .profile dd {
    clear: right;
  }
  .summary {
    margin: 20px 0 0 0;
    @include clearfix; /* ??? summary left */
  }
  .summary .left,
  .summary .right {
    float: left;
  }
  .summary dt,
  .summary dd {
    float: left;
    height: 25px;
    margin: 0;
  }
  .summary dt {
    clear: left;
    width: 70px;
  }
  .summary dd {
    width: 180px;
  }
  .summary > dd {
    width: 80%;
    min-width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .log {
    clear: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 140%;
    font-size: 90%;
    margin-top: 25px;
    padding: 15px 0;
    color: white;
    background-color: #333;
    @include border-radius(4px);

    p {
      position: relative;
      padding: 0 15px 0 50px;
      margin: 0;
      &:hover {
        background-color: rgba(255,255,255,.05);
      }
      &.highlight {
        background-color: rgba(255,255,255,.5);
      }
      a.linum {
        position: absolute;
        margin-left: -40px;
        cursor: pointer;
      }
    }

    .fold {
      height: 16px;
      overflow: hidden;
      background: #444 url('/images/icons/log.fold.closed.2.png') no-repeat 99.5% 2px;
      cursor: pointer;

      &.open {
        height: auto;
        background-image: url('/images/icons/log.fold.open.2.png');
      }
    }

    /* deansi styles, see javascripts/lib/deansi.js */

    .bold {
      font-weight: bold;
    }
    .underscore {
      /* monochrome displays only according to http://ascii-table.com/ansi-escape-sequences.php */
    }
    .black {
      color: black;
    }
    .red {
      color: red;
    }
    .green {
      color: lime;
    }
    .yellow {
      color: yellow;
    }
    .blue {
      color: blue;
    }
    .magenta {
      color: magenta;
    }
    .cyan {
      color: cyan;
    }
    .white {
      color: white;
    }
    .black.bright {
      color: #999;
    }
    .bg-black {
      background-color: black;
    }
    .bg-red {
      background-color: red;
    }
    .bg-green {
      background-color: lime;
    }
    .bg-yellow {
      background-color: yellow;
    }
    .bg-blue {
      background-color: blue;
    }
    .bg-magenta {
      background-color: magenta;
    }
    .bg-cyan {
      background-color: cyan;
    }
    .bg-white {
      background-color: white;
    }
  }
  #matrix {
    margin: 20px 0 0 -12px;
  }
  #matrix caption {
    margin-left: 12px;
    margin-bottom: 8px;
  }
  #builds {
    width: 100%;
    margin: 25px 0 0 -12px;
  }
  #builds th {
    font-size: 13px;
    color: #666;
  }
  #builds th,
  #builds td {
    white-space: nowrap;
  }
  #builds td.message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  #builds tr {
    max-height: 20px;
  }
  #builds tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
  }
}

#builds .green .number a {
  color: green;
}
#builds .red .number a {
  color: #C00;
}

/* main overrides */

#stats,#profile {
  #main {
    padding: 0;
    padding-top: 60px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* right */

#right {
  display: block;
  float: right;
  background-color: #f2f4f9;
  overflow: visible;
  @include transition(width .5s ease-out);

  h4 {
    margin: 25px 0 0 0;
  }
  ul {
    margin-top: 10px;
  }
  li {
   list-style-type: square;
   margin-left: 15px;
  }
  #workers li,
  #jobs li {
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    ul.nested {
      margin-top: 0px;
      margin-bottom: 5px;
      padding-left: 10px;
      display: none;
    }
    &:hover {
      ul.nested {
        display: block;
      }
    }
  }
  .placeholder,
  .indicator {
    display: none;
  }
  .empty .placeholder,
  .loading .indicator {
    display: none;
  }
  .box {
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #ccc;
    @include border-radius(4px);
    background-color: #fff;
  }
  .box h4 {
    margin: 0;
  }
  .box a {
    text-decoration: underline;
  }
  #alpha_warning {
    background-color: #ffffda;
  }
  #alpha_warning h4 {
    padding-left: 20px;
    background: url(/images/construction.png) no-repeat top left;
  }
  #alpha_warning p {
    margin-bottom: 0;
    color: #666;
  }
  #sponsors h4 {
    margin: 0 -4px 0 0;
    padding-right: 21px;
    background: url(/images/smile.png) no-repeat 1px right;
  }
  #sponsors div {
    margin: 15px -15px -15px -15px;
    padding: 15px 15px 10px;
    background-color: #eee;
    @include border-bottom-radius(4px);
  }
  #sponsors img {
    border: 1px solid #bbb;
    width: 168px;
    margin-bottom: 5px;
  }

  &.maximized {
    width: 240px;
  };
  &.minimized {
    width: 0px;

    .inner {
      .wrapper {
        display: none;
      }
    }
  }

  $slider-border-normal: #f2f4f9;
  $slider-border-light: #999;
  $slider-border-hover: #e1e2e6;
  .slider {
    border-left: 1px solid #ccc;
    background-color: #f2f4f9;

    &.toggled {
      .icon {
        border-color: $slider-border-normal $slider-border-light $slider-border-normal $slider-border-normal;
        border-width: 5px 5px 5px 0;
      }
      &:hover {
        .icon {
          border-color: $slider-border-hover $slider-border-light $slider-border-hover $slider-border-hover;
        }
      }
      left: -20px;
      width: 20px;
    }
    .icon {
      width: 0;
      height: 0;
      position: absolute;
      top: 15px;
      border-color: $slider-border-normal $slider-border-normal $slider-border-normal $slider-border-light;
      border-width: 5px 0 5px 5px;
      border-style: solid;
      margin-top: -5px;
      margin-left: 3px;
    }
    position: absolute;
    height: 100%;
    left: -10px;
    width: 10px;
  }
  &:hover {
    .slider {
      background: $slider-border-hover;
      .icon {
        border-color: $slider-border-hover $slider-border-hover $slider-border-hover $slider-border-light;
      }
    }
  }

  .inner {
    .wrapper {
      padding: 20px 20px 20px 10px;
      min-width: 190px;
    }
  }

}

.list.loading h4 {
  background: url(/images/spinner.gif) no-repeat 4px right;
  padding-right: 15px;
}

.list ul {
  min-height: 1em;
}
.list li:not(.empty) ~ .empty {
  display: none;
}


/* tabs */

.tabs {
  & > li > a {
    display: block;
    float: left;
    margin: 0 1px 0 0;
    padding: 0 10px;
    height: 29px;
    line-height: 30px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    border-bottom: none;
    cursor: pointer;
    @include border-top-radius(4px);
  }
  &.active > li > a {
    background: #fff;
    border-color: #ccc #ccc #fff;
  }
  .tab {
    display: none;
    border-top: 1px solid #ccc;
  }
  .active .tab {
    display: block;
  }

  .box {
    h4 { margin: 0; }
    a { text-decoration: underline; }
  }

  #alpha_warning {
    background: #ffffda;

    h4 {
      padding-left: 20px;
      background: url(/images/construction.png) no-repeat top left;
    }

    p {
      margin-bottom: 0;
      color: #666;
    }
  }

  #sponsors h4 {
    margin: 0 -4px 0 0;
    padding-right: 21px;
    background: url(/images/smile.png) no-repeat 1px right;

    div {
      margin: 15px -15px -15px -15px;
      padding: 10px 15px 5px;
      background-color: #eee;
      @include border-bottom-radius(4px);
    }
    img {
      border: 1px solid #bbb;
      width: 168px;
    }
  }
}

/* scrollbars */

pre::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
pre::-webkit-scrollbar-button:start:decrement, pre::-webkit-scrollbar-button:end:increment {
  display: none;
}
pre::-webkit-scrollbar-track-piece {
  background: #444;
  -webkit-border-radius: 4px;
}
pre::-webkit-scrollbar-thumb:horizontal {
  background: -webkit-gradient(linear, left top, left bottom, from(#85888E), to(#55585E));
  -webkit-border-radius: 4px;
  width: 25px;
}


/* graph containers */

#repo_count_container, #build_count_container {
  width: 100%;
  height: 300px;
  margin: 30px 0;
}

/* stuff */

.eta, .eta_label {
  display: none;
}

.profile-avatar {
  @include border-radius(4px);
}

#profile {
  #welcome {
    margin-top: -35px;
    margin-bottom: 35px;
    font-size: 13px;
    h4, p {
      margin-bottom: 4px;
    }
  }
  p.tip {
    font-size: 13px;
    margin-top: -10px;
  }
  .highlight {
    color: #C7371A;
  }
}

ul#tokens {
  @include list-base;
}

#service_hooks {
  @include list-base;
  margin-top: 10px;
  li {
    position: relative;
    height: 19px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    > a {
      float: left;
      font-size: 16px;
      color: #666;
      text-decoration: none;
    }
    .description {
      display: none;
      margin-left: 10px;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #999;
    }
    .controls {
      position: absolute;
      top: 10px;
      right: 10px;
      white-space: nowrap;
      background-color: white;
      .github-admin {
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        font-size: 14px;
        background: url('/images/icons/admin.png') no-repeat 3px 3px;
        text-indent: -9999px;
        overflow: hidden;
        text-align: left;
      }
      .toggle_enabled {
        float: left;
        background: url('/images/off.png') no-repeat;
        display: block;
        width: 70px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
        &.on {
          background: url('/images/on.png') no-repeat;
        }
      }
    }
    &:nth-child(odd) .controls {
      background: #fafbfc;
    }
    &:hover {
      > a {
        color: #c7371a;
      }
      .description {
        display: inline;
      }
    }
  }
}

/**
 * Flash Messages
 */

#flash-messages {
  position: absolute;
  left: 400px;
  top: 10px;
  font-size: 16px;
  color: #FFFFFF;
}

/**
 * Github Badge
 */

#github {
  right: -65px;
  height: 30px;
  top: 40px;
  position: absolute;
  text-decoration: none;
  width: 250px;
  @include rotate(45deg);
  span {
    background: orange;
    color: white;
    font-size: 14px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 250px;
    @include box-shadow(rgba(black, 0.2) 1px 1px 10px, rgba(black, 0.07) 0 0 3px 1px inset);
  }
}
